# API Configuration
PROJECT_NAME="AI Sales Automation Platform"
API_V1_STR="/api/v1"

# Security
SECRET_KEY="f43575b6cfda8098ea55df2209bdd19e"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days

# Database
DATABASE_URL="postgresql+psycopg2://postgres:root@localhost:5432/seles_automation"

# AI Services
GOOGLE_API_KEY="AIzaSyBnmSLVCQzyxKwPuiIqNguJEjsMJYajDZA"

EMBEDDING_MODEL="models/text-embedding-004"
LLM_MODEL="gemini-2.5-flash"
